h3 Skills
	h6
	p Spence has a wide range of skills.  From baking muffins to making smalltalk with ANYONE's grandma, he's a must-have in any modern day household
	ul
	each item in contents['skills.json'].metadata
		li= item.li1
		li= item.li2
		li= item.li3
		li= item.li4
		li= item.li5
		li= item.li6
		li= item.li7
		li= item.li8